language: node_js
node_js: node
services: 
  - mongo
deploy:
  provider: heroku
  app: polar-lake-31524
  api_key:
    secure: U8VgQGO8Ja3/9RH15MCdWb4Prg6VW9Eefms+otAL9t/LL2vosQYgCTNvTUNrtdmMqoq0WHdWKyvqdgZTxZlFS1/OLTNhoGRkmxSYT+3dHBv1OB8eHAB1+AcXGrkZStIWElDF1IuJ82cOgaiSsWLkQUtO7/qJVdtMXmBgrafMvsf/bmH/slMTlqIhXRUuBxe+vKuk76tIL6ak6jKBzZR2KfOOLa1m1fgVm909AIpNyoLiSx9Ye8ZSu96PN/WTIy/WgTWttTFqonYv6lzgvspEE2/URS0hIWd5pcsc9vMthOQWC2IM0UZJt4Z8LJyuzCb7pnnnGJcsVH6mvP384tIQuFI9KtbXlB5JUbj2UDvhnO5z2lp+IKI9mLATWcKyLAkH6yBCewea3d6X802+hg+fPLwOzJipXSLq9TPefMTGFki+Bb89/oq5n96MWEHkV8a4gY4GyyEbX69Ka/J1qtnXURQEicQmypz/0dM7Yd0w5/6Jn/Pp5l2Unt4L4T+HvAI14r5XlckaaXfGOmD42y0IWJG3LgVO76jCaORrAVUmb2KxS7DGkjXFR81LmAgOkK/XeI+i0ddHN0wrCaTduY8W3AzfQ/YVmhYdTiW3L8Vx9+aH0bH4R8fqvA922ZQbtJhzP/F5V8zxFqoZgzl1eDLLzrpHdK6YIqTfcVKGtxsqOIo=
